@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body, html {
    border: none;
    overflow-x: hidden;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.main1-container {
    position: relative;
    width: 100%;
    min-width: 1300px;
    height: 172px;
    box-sizing: border-box;
    z-index: 13;
    border: 1px solid rgba(0, 0, 255, 0);
    background: linear-gradient(to right,  #AB392F, rgba(120, 41, 34, 0.81));
}

.main1-first-line {
    width: 1280px;
    height: 105px;
    margin: 0 auto;
    position: relative;
    border: 1px solid rgba(0, 0, 255, 0);
}

.main1-logo {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 240px;
    height: 66px;
    margin-left: 0px;
    margin-top: -33px;
    background: url(./main1-asset/noonakitchen-logo-bage.png) no-repeat center center;
    background-size: auto 66px;
}

.frm-nav-search  {
    background: transparent;
    font-size: 22px;
    border-width: 0 0 2px 0;
    padding-top: 10px;
    padding-left: 13px;
    width: 578px;
    color: #FBFFDA;
}

nav input, img, button {
    vertical-align: top;
}

.main1-input-area {
    border: 1px solid rgba(0, 0, 255, 0);
    width: 578px;
    position: relative;
    padding-left: 17px;
    margin-top: -6px;
    text-align: left;
    vertical-align: top;
    display: table;
    background: none;
}

.main1-input-area2 {
    width: 578px;
    height: 50px;
    position: relative;
    padding-left: 9px;
    padding: 10 0 40px;
    margin-top: 12px;
    text-align: left;
    vertical-align: top;
    display: table;
    background: none;
    border: 2px solid #FBFFDA;
    border-left: none;
    border-right: none;
    border-top: none;
}

.main1-search-icon {
    position: relative;
    left: 540px;
    bottom: 43px;
    margin-right: 32px;
    color: #FBFFDA;
    border: 1px solid rgba(0, 0, 255, 0);
}

nav input::placeholder {
    color: #FBFFDA;
    font-size: 22px;
    font-family: "Pretendard";
}

.nav-link {
    color: #454545;
    width: 135px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #454545;
}

.icon-box {
    width: 34px;
    height: 34px;
    background-color: #AB392F;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box:hover {
    background-color: #ca463a;
}

.icon-box2 {
    width: 18px;
    height: 18px;
    background-color: #AB392F;
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav-second-line-son{
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 220px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 5px rgba(0, 0, 0, .175);
}

.main1-category-area1 {
    border: 1px solid #0000ff00;
    width: 80px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 5px;
}

.main1-category-area2 {
    border-left: 1px solid #454545;
    width: 140px;
    position: absolute;
    right: 0;
    top: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 37px;
}

.main1-category-area3 {
    border: 1px solid rgba(255, 0, 0, 0);
    padding-left: 42px;
    padding-bottom: 5px;
    display: flex;
}

nav a{
    text-decoration: none;
    color: #454545;
}

nav a:hover{
    color: #AB392F;
}

.nav-link.active:hover{
    color: #AB392F;
}

.nav-link:hover {
    color: #AB392F;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(255 255 255) !important;
}

.main1-second-line-btn {
    height: 38px;
    border-radius: 17;
    border: rgba(120, 41, 34, 0.81);
    background: rgba(120, 41, 34, 0.81);
    font-weight: 600;
}

.main1-second-line-btn:hover {
    background: #AB392F;
}

.btn-mom {
    border: 1px solid rgba(0, 0, 255, 0);
    width: 1100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-primary {
    --bs-btn-bg:  #9e342a;
    --bs-btn-border-color:  #9e342a;
    --bs-btn-hover-bg:   #9e342a;
    --bs-btn-hover-border-color:  #9e342a;
    --bs-btn-active-bg:  #9e342a;
    --bs-btn-active-border-color:  #9e342a;
    --bs-btn-disabled-bg:  #9e342a;
    --bs-btn-disabled-border-color: #9e342a;
}