 /* log-in */
.container.py-4{
    margin: 0 auto;
    width : 350px;
}

.d-grid.gap-2.col-3.mx-auto.pt-3{
    margin: 0 auto;
    width: 330px;
}

.btn-primary {
    background-color: rgba(120, 41, 34, 0.81);
    border-color: rgba(120, 41, 34, 0.81);
}

.btn-primary:hover{
    background-color: rgba(120, 41, 34, 0.81);
    border-color: rgba(120, 41, 34, 0.81);
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 6rem;
}

.text-line-first a {
    text-decoration: none;
    color: black;
}
.text-line-second a {
  text-decoration: none;
  color: black;
}

.text-line-second {
    font-size: 11px;
}

.button-icon {
    border: none;
    background-color: white;
}

@media screen and (max-width: 48rem){
    .login-main{
        margin: 0 15px;
    }
 }

 /* footer */
 .content{
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    background: rgba(120, 41, 34, 0.81);
    width: 100%;
  }
  .footer-row{
    display: flex;
  }
  .second-content{
    margin: 0 auto;
    padding: 10px 0;
    background: #AB392F;
    width: 100%;  
    flex-direction: column;
    flex-wrap: wrap; 
  }
  .foot-first-line{
    position: relative;
    margin: 0 0;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    white-space: normal; 
    text-align: center;
    word-wrap: break-word;
  }
  
  .footer{
    display: flex;
    justify-content: space-between;
    color: white;
    bottom:0px;
  }
  .footer-container-fluid{
    padding:0 150px;
  }
  
  .footer-left {
    text-align: left;
    padding-top:20px;
    flex: 1;
  }
  .footer-right{
    text-align: right;
    justify-content: flex-start;
  }
  footer{
    color: white;
    justify-content: flex-end;
    padding-top:20px;
  }
  .share-button{
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 30px;
    margin-left: 9px;
  }
  .footer-m{
    display:none;
  }

  .footer-right img{
    margin-right: 35px;
  }
  
  @media screen and (max-width: 48rem){
    
    .footer-left {
      text-align: center;
      white-space: normal;
    }
    
    .footer-right{
      justify-content: center; 
      text-align: center;
    }
    .second-content {
      flex-direction: column; 
      padding-bottom: 10px;
  
    }
    .footer {
      flex-direction: column; 
      align-items: center; 
    }
    .footer-container-fluid {
      padding-left: 15px; 
      padding-right: 15px;
    }
    .text-center {
      font-size: 1.2rem;
      padding: 5px; 
      line-height: 1.8;
    }
    .footer-row{
      display: none;
    }
    .footer-m{
      display: block;
    }
    .footer-right img{
      margin-right: 0px;
    }
  
  }
  
  @media screen and (max-width: 1024px){
    .footer-container-fluid {
      padding-left: 15px; 
      padding-right: 15px;
    }
  }