/* import */
@import '@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 전체 설정 */
body {
    font-family: 'Pretendard-Regular', sans-serif;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex; /* 플렉스 레이아웃 추가 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 자식 요소를 가로로 가운데 정렬 */
    word-break: keep-all;
}

.recommended-recipe-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex; /* 플렉스 레이아웃 추가 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 자식 요소를 가로로 가운데 정렬 */
    word-break: keep-all;
}


/* 메인 사진 */
.full-width-main-image {
    display: block;
    width: 100%;
    height: auto; /* 비율 유지 */
    padding: 0;
}

/* 태그 */
.korea1-detailInfo .korea1-Tag{
    margin-top: 45px;
    margin-bottom: 40px;
}

.korea1-Tag ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* 요소를 다음 줄로 넘기도록 설정 */
    justify-content: left; /* 가로 정렬 간격 조정 */
    gap: 25px 10px; /* 세로(gap의 첫 번째 값)와 가로 간격(gap의 두 번째 값) 설정 */
    list-style: none; /* 리스트 아이템의 기본 점 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.korea1-Tag a {
    font-size: 20px;
    line-height: 25px;
    color: #777;
    padding: 5px 20px 7px;
    border: 1px solid #c1c1c1;
    background: #fff;
    border-radius: 50px;
    text-decoration: none;
}

.korea1-Tag a:hover {
    background-color: #AB392F;
    color: white;
}

.korea1-Tag{
    position: relative;
    text-align: center;
}

/* 구분선 */
.first-divider {
    width: 100%;
    max-width: 768px;
    height: 2px;  /* 구분선의 두께 */
    background-color: #ccc;  /* 구분선 색상 */
    margin: 50px 0;  /* 구분선 위 아래 여백 */
}

.divider {
    width: 100%;
    max-width: 768px;
    height: 2px;  /* 구분선의 두께 */
    background-color: #ccc;  /* 구분선 색상 */
    margin: 50px 0;  /* 구분선 위 아래 여백 */
}

.last-divider {
    width: 100%;
    max-width: 1280px;
    height: 2px;  /* 구분선의 두께 */
    background-color: #ccc;  /* 구분선 색상 */
    margin: 50px 50px;  /* 구분선 위 아래 여백 */
}

/* 음식 이름 및 음식 설명 */
.food-title {
    font-size: 45px;
    color: #333;
    margin-top: 80px;
    font-weight: 700;
}

.korea1-detailInfo {
    position: relative;
    float: left;
    max-width: 768px;
    line-height: 1.5;
}

.korea1-detailInfo p{
    font-size: 24px;
    color: #666;
    font-weight: lighter;
    margin-top: 40px;
}

/* 레시피 재료 */
.ingredientArea {
    position: relative;
    float: left;
    width: 100%; /* 부모 요소의 너비에 맞춰 자동 조정 */
    max-width: 768px; /* 최대 너비를 768px로 제한 */
    line-height: 1.5;
}

.ingredient-title {
    font-size: 35px;
    color: #333;
    font-weight: 700;
}

.ingredientArea dt{
    font-size: 22px;
    color: #AB392F;
    margin-top: 30px;
}
.ingredientArea dd{
    font-size: 22px;
    color: #666;
    font-weight: lighter;
    margin-top: 10px;
    padding-left: 15px;
}

.ingredientContent{
    max-width: 768px;
    line-height: 1.5;
}

/* 관련 제품 */
.goods-Area {
    position: relative;
    float: left;
    width: 100%; /* 부모 요소의 너비에 맞춰 자동 조정 */
    max-width: 768px; /* 최대 너비를 768px로 제한 */
    line-height: 1.5;
}

.goods-Area img {
    margin: 20px 0;
    position: relative;
}

.goods-title {
    font-size: 35px;
    color: #333;
    font-weight: 700;
}

.goods-name{
    font-size: 30px;
    color: #333;
    font-weight: 600;
}

.goods-content{
    max-width: 768px;
    line-height: 1.5;
    font-size: 22px;
    color: #666;
    font-weight: lighter;
    margin-top: 10px;
    text-align: center; /* 글자 가운데 정렬 */
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.full-width-image {
    display: block;
    width: 100%;
    height: auto; /* 비율 유지 */
    transition: 1.0s ease; /* 부드러운 전환 효과 */
    margin: 0px;
    padding: 0;
}

.image-container:hover .full-width-image {
    filter: brightness(1); /* 사진 어둡게 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0; /* 기본적으로 숨김 */
    background-color: rgba(0, 0, 0, 0.1); /* 반투명 검은 배경 */
    transition: opacity 0.3s ease;
    margin: 0;
}

.image-container:hover .overlay {
    opacity: 1; /* hover 시 표시 */
}

.text-top {
    position: absolute;
    top: 10%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
}

.icon-center {
    font-size: 40px; /* 아이콘 크기 */
    margin-top: 10px;
}

/* 관련 레시피 */
.relatedRecipeArea {
    position: relative;
    overflow: hidden; /* 이미지를 넘지 않도록 숨기기 */
    float: left;
    width: 100%; /* 부모 요소의 너비에 맞춰 자동 조정 */
    max-width: 768px; /* 최대 너비를 768px로 제한 */
    line-height: 1.5;
}

.relatedRecipe-title {
    font-size: 35px;
    color: #333;
    font-weight: 700;
}

.relatedRecipe-name{
    font-size: 30px;
    color: #333;
    font-weight: 600;
}

.relatedRecipeContent{
    max-width: 768px;
    line-height: 1.5;
    font-size: 22px;
    color: #666;
    font-weight: lighter;
    margin-top: 10px;
}

.relatedRecipeArea img {
    margin: 20px 0;
    width: 100%;
    transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.relatedRecipeArea img:hover {
    transform: scale(1.1); /* 이미지를 확대하는 효과 */
}

/* 만드는 방법 */
.howToMakeArea {
    position: relative;
    float: left;
    width: 100%; /* 부모 요소의 너비에 맞춰 자동 조정 */
    max-width: 768px; /* 최대 너비를 768px로 제한 */
    line-height: 1.5;
}

.howToMake-title {
    font-size: 35px;
    color: #333;
    font-weight: 700;
    margin: 30px 0;
}

.howToMakeArea dt{
    font-size: 28px;
    color: #AB392F;
    margin-top: 40px;
    font-weight: 600;
}
.howToMakeArea dd{
    font-size: 28px;
    color: #666;
    font-weight: lighter;
    margin-bottom: 40px;
}

.howToMakeContent{
    max-width: 768px;
    line-height: 1.5;
}

/* 추천 레시피 */
.recommended-recipe-Area {
    position: relative;
    overflow: hidden; /* 이미지를 넘지 않도록 숨기기 */
    float: left;
    width: 100%; /* 부모 요소의 너비에 맞춰 자동 조정 */
    max-width: 1280px;
    line-height: 1.5;
}

.recommended-recipe-title {
    font-size: 35px;
    color: #333;
    font-weight: 700;
}

.recommended-recipe-name{
    font-size: 30px;
    color: #333;
    font-weight: 600;
    text-align: left; /* 좌측 정렬 추가 */
}

.recommended-recipe-Content{
    max-width: 1280px;
    line-height: 1.5;
    font-size: 22px;
    color: #666;
    font-weight: lighter;
    margin-top: 10px;
    text-align: left; /* 좌측 정렬 추가 */
}

.recommended-recipe-Area img {
    margin: 20px 0;
    width: 100%;
    transition: transform 0.3s ease; /* 부드러운 전환 효과 */
}

.recommended-recipe-Area img:hover {
    transform: scale(1.1); /* 이미지를 확대하는 효과 */
}


/* 기본 상태에서 detailInfoNav를 숨깁니다 */
.detailInfoNav {
    display: none; /* 기본적으로 숨김 */
}

/* 업버튼 */
#detailFood_top{
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 6;
    display: none; /* 기본적으로 숨김 */
}

#detailFood_top:hover{
    cursor: pointer;
}

/* 1280이하 스타일 */
@media (max-width: 1280px) {
.content{
    margin-left: 20px;
    margin-right: 20px;
}
}

/* 모바일 전용 스타일 */
@media (max-width: 768px) {
.content{
    margin-left: 15px;
    margin-right: 15px;
}

/* 구분선 */
.first-divider {
    display: none;
}

.content {
    overflow: visible; /* overflow 속성 확인 */
}

.detailInfoNav{
    display: flex; /* 기본적으로 보여지도록 수정 */
    position: sticky;
    top: 0; /* 화면 상단에 고정 */
    z-index: 10; /* 다른 요소 위에 보이도록 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 70px 0;
    display: flex; /* 플렉스 레이아웃으로 설정 */
    justify-content: space-around; /* 수평 가운데 정렬 (필요시 조정 가능) */
    gap: 20px; /* 항목 간 간격 */
    padding: 10px 20px; /* 상하좌우 여백 */
    border-top: 5px solid #f8f9fa; /* 위쪽 선 (두껍게) */
    border-bottom: 1px solid #f8f9fa; /* 아래쪽 선 (얇게) */
}

.detailInfoNav li {
    display: inline-block; /* 리스트 아이템을 인라인 블록으로 설정 */
    font-size: 21px; /* 텍스트 크기 조정 */
    font-weight: 700;
    cursor: pointer; /* 클릭 가능한 손 모양 커서 */
}

.detailInfoNav li:hover {
    color: #AB392F; /* 호버 시 색상 변경 */
}

.detailInfoNav a {
    display: inline-block; /* 리스트 아이템을 인라인 블록으로 설정 */
    font-size: 21px; /* 텍스트 크기 조정 */
    font-weight: 700;
    cursor: pointer; /* 클릭 가능한 손 모양 커서 */
    color: black;
    text-decoration: none;
}

.detailInfoNav a:hover {
    color: #AB392F; /* 호버 시 색상 변경 */
}

}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    bottom:0px;
  }
  .footer-container-fluid{
    margin-left: 300px;
    margin-right: 300px;
  }
  .footer-left {
    text-align: left;
    padding-top:20px;
    flex: 1;
  }
  .footer-right{
    text-align: right;
    justify-content: flex-start;
  }
  footer{
    color: white;
    justify-content: flex-end;
    padding-top:20px;
  }
  .share-button{
    margin-bottom: 15px;
    margin-right: 15px;
    font-size: 30px;
  }
  
  .footer-content{
    margin: 0 auto;
    padding: 10px 300px;
    position: relative;
    background: rgba(120, 41, 34, 0.81);
    width: 100%;
  }
  .footer-second-content{
    margin: 0 auto;
    padding: 10px 300px;
    position: relative;
    background: #AB392F;
    width: 100%;  
    display: relative;
    justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap; 
    text-align: center;
  }
  .foot-first-line{
    position: relative;
    margin: 0 0;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    white-space: normal; 
    text-align: center;
    word-wrap: break-word;
  }
  
  .footer-right span i:hover{
      cursor: pointer;
  }
  
  @media screen and (max-width: 1024px){
    .footer-container-fluid {
        padding-left: 15px; 
        padding-right: 15px;
    }
  }

  @media screen and (max-width: 48rem){
      .footer-left .footer-right{
        text-align: center;
      }
  
      .second-content {
          flex-direction: column; 
          
        }
  
      .footer {
          flex-direction: column; 
          align-items: center; 
      }
  
      .footer-container-fluid {
          padding-left: 15px; 
          padding-right: 15px;
      }
  
      .text-center {
          font-size: 1.2rem;
          padding: 5px; 
          line-height: 1.8;
      }
    }