.mall-image {
  width: 100%;
  height: 405px;
  background-image: url('./image/maincook.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  align-items: center; 
  text-align: center;
}
.red-bold{
  color:darkred;
  font-size: 35px;
  font-weight: 700;
}
.easier-text{
  font-size: 38px;
  color: #333;
  font-weight: 600;
}
.btn{
  border-radius: 30px;
  font-weight: 500;
}

@media screen and (max-width: 48rem){
  .mall .mall-image{
    background-size: cover;
    align-items: center; 
    text-align: center;
    height:100%;
    width:auto;
  }
}


.card-img-top {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
}

.star-book{
  margin-top: 40px;
  margin-bottom: 10px;
  border-color: rgba(120, 41, 34, 0.81);
}

.star-book:hover {
  background-color: rgba(120, 41, 34, 0.81);
  border-color: rgba(120, 41, 34, 0.81);
}
.star-book:active {
  background-color: rgba(120, 41, 34, 0.81);
  border-color: rgba(120, 41, 34, 0.81);
}
.custom-card{
  border-width: 2px;
  border-color: #AB392F;
}

.star-icon {
  display: inline-block;
  margin-right: 8px;
  font-size: 1.2rem;
  color: rgba(120, 41, 34, 0.81);
  cursor: pointer;
}
.star-icon .fa-regular {
  color: rgba(120, 41, 34, 0.81); 
}
.star-icon .fa-solid {
  display: none; /* 기본적으로 채워진 별은 숨김 */
  color: rgba(120, 41, 34, 0.81); /* 채워진 별 색상 */
}
.star-icon:hover .fa-regular {
  display: none; /* 비어있는 별 숨김 */
}
.star-icon:hover .fa-solid {
  display: inline-block; /* 채워진 별 표시 */
}



.card-img-top {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
}

.star-book{
  margin-top: 40px;
  margin-bottom: 10px;
  border-color: rgba(120, 41, 34, 0.81);
}

.star-book:hover {
  background-color: rgba(120, 41, 34, 0.81);
  border-color: rgba(120, 41, 34, 0.81);
}
.star-book:active {
  background-color: rgba(120, 41, 34, 0.81);
  border-color: rgba(120, 41, 34, 0.81);
}
.custom-card{
  border-width: 2px;
  border-color: #AB392F;
}

.star-icon {
  display: inline-block;
  margin-right: 8px;
  font-size: 1.2rem;
  color: rgba(120, 41, 34, 0.81);
  cursor: pointer;
}
.star-icon .fa-regular {
  color: rgba(120, 41, 34, 0.81); 
}
.star-icon .fa-solid {
  display: none; /* 기본적으로 채워진 별은 숨김 */
  color: rgba(120, 41, 34, 0.81); /* 채워진 별 색상 */
}
.star-icon:hover .fa-regular {
  display: none; /* 비어있는 별 숨김 */
}
.star-icon:hover .fa-solid {
  display: inline-block; /* 채워진 별 표시 */
}




/* 바닥 */
.content{
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  background: rgba(120, 41, 34, 0.81);
  width: 100%;
}
.footer-row{
  display: flex;
}
.second-content{
  margin: 0 auto;
  padding: 10px 0;
  background: #AB392F;
  width: 100%;  
  flex-direction: column;
  flex-wrap: wrap; 
}
.foot-first-line{
  position: relative;
  margin: 0 0;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  white-space: normal; 
  text-align: center;
  word-wrap: break-word;
}

.footer{
  display: flex;
  justify-content: space-between;
  color: white;
  bottom:0px;
}
.footer-container-fluid{
  padding:0 150px;
}

.footer-left {
  text-align: left;
  padding-top:20px;
  flex: 1;
}
.footer-right{
  text-align: right;
  justify-content: flex-start;
}
footer{
  color: white;
  justify-content: flex-end;
  padding-top:20px;
}
.share-button{
  margin-bottom: 15px;
  margin-right: 15px;
  font-size: 30px;
  margin-left: 9px;
}
.footer-m{
  display:none;
}

.footer-right img{
  margin-right: 35px;
}

@media screen and (max-width: 48rem){
  
  .footer-left {
    text-align: center;
    white-space: normal;
  }
  
  .footer-right{
    justify-content: center; 
    text-align: center;
  }
  .second-content {
    flex-direction: column; 
    padding-bottom: 10px;

  }
  .footer {
    flex-direction: column; 
    align-items: center; 
  }
  .footer-container-fluid {
    padding-left: 15px; 
    padding-right: 15px;
  }
  .text-center {
    font-size: 1.2rem;
    padding: 5px; 
    line-height: 1.8;
  }
  .footer-row{
    display: none;
  }
  .footer-m{
    display: block;
  }
  .footer-right img{
    margin-right: 0px;
  }
}

@media screen and (max-width: 1024px){
  .footer-container-fluid {
    padding-left: 15px; 
    padding-right: 15px;
  }
}
/* 바닥 */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body, html {
    border: none;
    overflow: visible;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.main1-container {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 13;
    background: linear-gradient(to right,  #AB392F, rgba(120, 41, 34, 0.99));
}

.main1-first-line {
    width: 1280px;
    height: 105px;
    margin: 0 auto;
    position: relative;
}

.main1-second-line {
    display: flex;
    position: relative;
    z-index: 31;
}

.main1-logo {
    position: absolute;
    top: 50%;
    left: 0;
    width: 240px;
    height: 66px;
    margin-left: 0px;
    margin-top: -33px;
    background: url(./image/long-logo.png) no-repeat center center;
    background-size: auto 66px;
}

.frm-nav-search  {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 13px;
    width: 578px;
}

.main1-input-area {
    width: 578px;
    position: relative;
    margin-top: -6px;
}

.main1-input-area2 {
    width: 578px;
    height: 50px;
    padding-left: 9px;
    margin-top: 12px;
    text-align: left;
    vertical-align: top;
    background: none;
    border-bottom: 2px solid #FBFFDA;
    border-left: none;
    border-right: none;
    border-top: none;
}

.main1-search-icon {
    position: relative;
    left: 540px;
    bottom: 43px;
    margin-right: 32px;
    color: #FBFFDA;
}

.main1-search-icon2 {
    display: none;
}

nav input::placeholder {
    color: #FBFFDA;
    font-size: 22px;
    font-family: "Pretendard";
}

.btn-primary:hover {
    background-color: #AB392F;
    border-color: #AB392F;
}

.btn-primary {
    background-color: #AB392F;
    border-color: #AB392F;
}

.nav-link {
    color: #454545;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #454545;
    width: 135px;
}

.icon-box {
    width: 34px;
    height: 34px;
    background-color: #AB392F;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box:hover {
    background-color: #ca463a;
}

.icon-box2 {
    width: 18px;
    height: 18px;
    background-color: #AB392F;
    border-radius: 50%;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-second-line-son{
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 220px;
    font-size: 14px;
    list-style: none;
    -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 5px rgba(0, 0, 0, .175);
    z-index: 1050;
}


.main1-category-area1 {
    width: 80px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 5px;
}

.main1-category-area2 {
    border-left: 1px solid #454545;
    width: 140px;
    position: absolute;
    right: 0;
    top: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 33px;
}

.main1-category-area3 {
    padding-left: 42px;
    padding-bottom: 10px;
    display: flex;
}

nav {
    display: flex;
    padding: 0 15px;
}

nav a{
    text-decoration: none;
    color: #454545;
}

nav a:hover{
    color: #AB392F;
}

.nav-link.active:hover{
    color: #AB392F;
}

.nav-link:hover {
    color: #AB392F;
}

.bg-body-tertiary {
    width: 100%;
    background-color: rgb(255 255 255) !important;
}

.main1-second-line-btn {
    height: 38px;
    border-radius: 17;
    border: rgba(120, 41, 34, 0.91);
    background: #782922e8;
    font-weight: 600;
    --bs-btn-active-bg:  #9e342a;
    --bs-btn-active-border-color:  #9e342a;
}

.main1-second-line-btn:hover {
    background: #AB392F;
}

.btn-mom {
    width: 200px;
    align-items: center;
}


.main1-input-area-dis, .main1-icon-category,.main1-search-icon2 {
    display: none;
}

.bg-body-tertiary {
    background-color: rgb(255, 255, 255) !important;
}

.main1-category-item {
    margin-right: 800px;
}

.main1-second-btn {
    display: flex;
    justify-content: flex-end;
}

.main1-container2 {
    position: absolute;
    width: 100%;
}

.nav-item.dropdown {
     position: relative; 
}


@media screen and (min-width:1800) {
  .main1-carousel-bg {
      display: none;
  }

  nav a{
    text-decoration: none;
    color: #454545;
  }
  
  nav a:hover{
    color: #AB392F;
  }

    
}

@media screen and (min-width:1025px) and (max-width:1400px) {
  .btn-mom {
      width: 1000px;
      position: absolute;
  }

  .main1-category-item {
      position: relative;
      left: -40px;
  }

  nav a{
      text-decoration: none;
      color: #454545;
  }
  
  nav a:hover{
      color: #AB392F;
    }
}

@media (min-width:1000px) and (max-width:1200px) {

  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
  }

  .main1-container {
    height: 170px;
  }

  .main1-logo {
      position: absolute;
      top: 50%;
      left: 0;
      width: 240px;
      height: 66px;
      margin-left: 60px;
      margin-top: -33px;
      background: url(./image/long-logo.png) no-repeat center center;
      background-size: auto 66px;
  }

  .frm-nav-search  {
      font-size: 22px;
      padding-top: 10px;
      padding-left: 13px;
      width: 700px;
      position: absolute;
      top: 70px;
  }
  
  .main1-input-area {
      width: 700px;
      position: relative;
      margin-top: -6px;
  }
  
  .main1-input-area2 {
      width: 770px;
      height: 50px;
      padding-left: 15px;
      margin-top: 12px;
      text-align: left;
      vertical-align: top;
      background: none;
      border-bottom: 2px solid #FBFFDA;
      border-left: none;
      border-right: none;
      border-top: none;
  }
  
  .main1-search-icon {
      position: relative;
      left: 540px;
      bottom: 43px;
      margin-right: 32px;
      color: #FBFFDA;
  }

  .main1-search-icon2 {
      display: block;
      width: 34px;
      height: 34px;
      position: absolute;
      right: 0;
      bottom: -60px;
      color: #FBFFDA;
  }
  
  
  nav input::placeholder {
      text-decoration:none;
      font-size: 20px;
  }
  

  .navbar {
      --bs-navbar-brand-color: none;
      --bs-navbar-brand-hover-color: none;
  }

  .navbar,.navbar-expand-lg ,.bg-body-tertiary,.main1-search-icon, .dis-none, .main1-input-area-dis {
      display: none;
  }

  .main1-input-area-dis2 {
      display: block;
      position: absolute;
      right: 0;
  }

  .min-category2 {
      width: 70px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 0;
      top: -40px;
      margin-right: -5px;
  }

  .icon-box {
      width: 34px;
      height: 34px;
      background-color:#782922e8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px
  }
  
  .icon-box:hover {
      background-color: #AB392F;
  }

  nav a{
      text-decoration: none;
      color: #454545;
  }
  
  nav a:hover{
      color: #AB392F;
  }
}

@media (min-width:820px) and (max-width:1000px) {

  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
  }

  .main1-container {
    height: 170px;
  }

  .main1-logo {
      position: absolute;
      top: 50%;
      left: 0;
      width: 240px;
      height: 66px;
      margin-left: -45px;
      margin-top: -33px;
      background: url(./image/long-logo.png) no-repeat center center;
      background-size: auto 66px;
  }

  .frm-nav-search  {
      font-size: 22px;
      padding-top: 10px;
      padding-left: 13px;
      width: 700px;
      position: absolute;
      top: 70px;
  }
  
  .main1-input-area {
      width: 700px;
      position: relative;
      margin-top: -6px;
  }
  
  .main1-input-area2 {
      width: 770px;
      height: 50px;
      padding-left: 15px;
      margin-top: 12px;
      text-align: left;
      vertical-align: top;
      background: none;
      border-bottom: 2px solid #FBFFDA;
      border-left: none;
      border-right: none;
      border-top: none;
  }
  
  .main1-search-icon {
      position: relative;
      left: 540px;
      bottom: 43px;
      margin-right: 32px;
      color: #FBFFDA;
  }

  .main1-search-icon2 {
      display: block;
      width: 34px;
      height: 34px;
      position: absolute;
      right: 0;
      bottom: -60px;
      color: #FBFFDA;
  }
  
  
  nav input::placeholder {
      text-decoration:none;
      font-size: 20px;
  }
  

  .navbar {
      --bs-navbar-brand-color: none;
      --bs-navbar-brand-hover-color: none;
  }

  .navbar,.navbar-expand-lg ,.bg-body-tertiary,.main1-search-icon, .dis-none, .main1-input-area-dis {
      display: none;
  }

  .main1-input-area-dis2 {
      display: block;
      position: absolute;
      right: 0;
  }

  .min-category2 {
      width: 70px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 0;
      top: -40px;
      margin-right: -5px;
  }

  .icon-box {
      width: 34px;
      height: 34px;
      background-color:#782922e8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px
  }
  
  .icon-box:hover {
      background-color: #AB392F;
  }

  nav a{
      text-decoration: none;
      color: #454545;
  }
  
  nav a:hover{
      color: #AB392F;
  }
}


@media screen and (max-width:820px) {

  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
  }

  .main1-container {
    height: 170px;
  }

  .frm-nav-search  {
      width: 390px;
      height: 172px;
      position: absolute;
      top: -4px;
      left: -210px;
  }
  
  .main1-input-area {
      position: relative;
      text-align: center;
      width: 10px;
  }
  
  .main1-input-area2 {
      border-bottom: 2px solid #FBFFDA;
      padding-bottom: 5px;
      width: 340px;
      height: 40px;
      position:relative;
      right: 300px;
      top: 93px;
      padding-left: 8px;
      margin-top: 10px;

  }

  .main1-search-icon2 {
      display: block;
      width: 34px;
      height: 34px;
      position: absolute;
      right: 5px;
      bottom: 30px;
      color: #FBFFDA;
  }
  
  
  nav input::placeholder {
      text-decoration:none;
      font-size: 19px;
  }
  

  .navbar {
      --bs-navbar-brand-color: none;
      --bs-navbar-brand-hover-color: none;
  }

  .navbar,.navbar-expand-lg ,.bg-body-tertiary,.main1-search-icon, .dis-none, .main1-input-area-dis2 {
      display: none;
  }

  .main1-input-area-dis {
      display: block;
      position: absolute;
      right: 0;
  }

  .min-category2 {
      width: 70px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 0;
      top: 35px;
      margin-right: -5px;
  }

  .icon-box {
      width: 34px;
      height: 34px;
      background-color:#782922e8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px
  }
  
  .icon-box:hover {
      background-color: #782922e8;
  }

  nav a{
      text-decoration: none;
      color: #454545;
  }
  
  nav a:hover{
      color: #AB392F;
  }
}




















